 /* HEADER */

.TituloPrincipal{
    font-family: fantasy, serif;
    font-style: italic;
}

.DescripcionPrincipal{
    font-family: serif, sans-serif;
    font-style: italic;
}






.TituloSpan{
    font-size:2em;
    color: orange;
    animation: titulo 2s 1;
}


.DescripcionSpan{
    animation: Descripcion 2s 1;
    color: wheat;
}

.DescripcionSpan a{
    text-decoration: none;
    color: cyan;

}




.nav a:hover{
    color: orange;
    border-top: 1px solid rgb(97,57,0);
    border-bottom: 1px solid rgb(97,57,0);
    font-weight: bold;
    transition: all 1.5s;
}

.nav a{
    font-family: fantasy, serif;
    text-decoration:none;
    color: wheat;
}

@keyframes Descripcion{

    0%{
        margin-bottom: -40px;
        color: orange;
        visibility: hidden;
    }
    
    
    
    
    30%{
        margin-bottom: -40px;
        color: gold;
        visibility: visible;
    }
}
    



@keyframes titulo{

    0%{
        letter-spacing: 5px;
        margin-bottom: -40px;
        color: black;
    }
    



    30%{
        letter-spacing: 8px;
        margin-bottom: -40px;
        color: black;
    }
    
   
}

/* ----------------------------------------------------------------------- */
/* MAIN */

.Subtitulos{
    font-size: 3em;
    font-family: serif, sans-serif;
    font-style: italic;
    color: darkgoldenrod;
}

.form-label{
    color: wheat;
}

.BotonIngresar{
    background: wheat;
    border-radius: 5%;
    color:black;
    font-weight: bold;
}

.BotonIngresar:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    background-color: black;
    color: gold;
}

form{
    box-shadow: 0 2px 13px 2px wheat;
    padding: 15px;
    border-radius: 5%;
}

form:hover{
    box-shadow: 0 2px 10px 2px gold;  
}

 
  /* ----------------------------------------------------------------------- */

 /* FOOTER */
 footer{
    color: wheat;
    background: rgb(97,57,0);
    background: linear-gradient(101deg, rgba(97,57,0,1) 0%, rgba(255,81,0,0.31985294117647056) 0%, rgba(95,14,14,0.38147759103641454) 0%, rgba(28,1,9,1) 0%, rgba(95,12,12,1) 100%);
    /* position: fixed; */
    width: 100%;
    bottom: 0px;

}



.spanFooter{
    color: goldenrod;
    font-style: italic;
}
 
.listaFooter li a{
    text-decoration: none;
    color: wheat;
}

.listaFooter li{
    list-style: none;
}

 

 
 /* ----------------------------------------------------------------------- */
/* GENERAL */
.generic{
    padding: 5px;
    margin: 50px;
}

body{

    background: rgb(97,57,0);
    background: linear-gradient(101deg, rgba(97,57,0,1) 0%, rgba(255,81,0,0.31985294117647056) 0%, rgba(95,14,14,0.38147759103641454) 0%, rgba(28,1,9,1) 0%, rgba(44,2,2,1) 0%);

}
